h1 {
    color: blue;
}

#startButton {
    border: 1px solid black;
    text-decoration: none;
    display: inline;
    margin: 5px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }



.mastercode {
    width: 50px;
    height: 36px;
 

}

.hole {
    width:  50px;
    height: 35px;
}

.smallhole {
    width: 15px;
    height: 20px;
    border: 0px;
}

#obutton {
    width: 80px;
    height: 80px;
}

#ybutton {
    width: 80px;
    height: 80px;
}

#bbutton {
    width: 80px;
    height: 80px;
}

#gbutton {
    width: 80px;
    height: 80px;
}

#purplebutton {
    width: 80px;
    height: 80px;
}

#pinkbutton {
    width: 80px;
    height: 80px;
}