body {
    background-color: #7391ed;
    
}


h1 {
    font-size: 50px;
    font-weight: 600;
    color: rgb(170, 64, 64);
    margin: auto;
    text-align: center;

  }

#gameBoard {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

#playerChoiceTable {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;

}

div {
    margin: auto;
    text-align: center;
}

#startButton {
    border: 1px solid black;
    text-decoration: none;
    display: inline;
    margin: 5px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }

  /* https://stackoverflow.com/questions/33749473/how-to-make-pictures-move-or-give-a-continuous-motion-on-websites*/
  .marquee { 
    overflow: hidden;
    position: relative;
    animation: MarqueeLeft linear 2s infinite;
    behavior: "alternate";
    width: 50px;
    height: 36px;
  }
  
  @keyframes MarqueeLeft 
  {
    0% { right: -220% }
    100% { right: 10% }
  }

.mastercode {
    width: 50px;
    height: 36px;
}

.playerChoice {
    width: 40px;
    height: 40px;
}

#obutton {
    background-color: orange;
}

#ybutton {
    background-color: yellow;
}

#bbutton {
    background-color: blue;
}

#gbutton {
    background-color: green;
}

#purplebutton {
    background-color: purple;
}

#pinkbutton {
    background-color: pink;
}

.hint {
    background-color: grey;
    width: 20px;
    height: 20px;
}

.hintCleared {
    background-color: grey;
    pointer-events: none;
    width: 15px;
    height: 15px;
}

.unhinted {
    background-color: grey;
}

.unchecked {
    background-color: grey;
}


.checking {
    background-color: grey;
    width: 20px;
    height: 20px;
    display: inline-block
}

.checked {
    pointer-events: none;
    width: 15px;
    height: 15px;
}

.gameBoardDisabled {
    pointer-events: none;
}

.unsubmitted {
    display: none;
}

.submitted {
    pointer-events: none;
}

.submit {
    display: inline-block;
}

