h1 {
    color: blue;
}

#startButton {
    border: 1px solid black;
    text-decoration: none;
    display: inline;
    margin: 5px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }



.mastercode {
    width: 50px;
    height: 36px;
}

.playerChoice {
    width: 80px;
    height: 80px;
}

#obutton {
    background-color: orange;
}

#ybutton {
    background-color: yellow;
}

#bbutton {
    background-color: blue;
}

#gbutton {
    background-color: green;
}

#purplebutton {
    background-color: purple;
}

#pinkbutton {
    background-color: pink;
}

.hint {
    background-color: grey;
    width: 20px;
    height: 20px;
}

.hintCleared {
    background-color: grey;
    pointer-events: none;
    width: 15px;
    height: 15px;
}


.checking {
    background-color: grey;
    width: 20px;
    height: 20px;
    display: inline-block
}

.checked {
    pointer-events: none;
    width: 15px;
    height: 15px;
}
